<p id="notice"></p>
<div class="container px-5 px-sm-0">
 <div class="row col-md-3 col-md-8">
  <h2>ショッピングカート</h2>
  <%= button_to "全て削除", cart_items_destroy_all_path, method: :delete, "data-confirm" => "本当に消しますか"%>
 </div>
  <div class="row">
   <table class="table table-hober table-inverse ">
    <thead>
    <th>単価(税込)</th>
    <th>小計</th>
    </thead>
<tbody>
<% @cart_items.each do |cart_item| %>
    <tr>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.subtotal %></td>
        <% @合計金額 +=  cart_item.subtotal %>
    </tr>
<% end %>
</tbody>
  </div>
</div>